.nav,
.container {
  text-align: Center;
}
.nav a {
  margin: 0 10px;
  color: green;
}
img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.container {
  size: 400 px;
  background-color: yellowgreen;
}
